[package]
name = "ocelot-types"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true

regex.workspace = true
thiserror.workspace = true
